<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/common.css">
    <title>Create new player or expertise</title>
</head>
<body>
    <%- include('header') %>
    <form action="/destroy" method="POST">
        <select name="player" id="player">
            <% locals.players.forEach((player) => { %>
                <option value="<%= player.name %>"><%= player.name %></option>
            <% }) %>
        </select>
        <button type="submit">Destroy Player</button>
    </form>
    <form action="/destroy" method="POST">
        <select name="expert_in" id="expert_in">
            <% locals.expertise.forEach((expertise) => { %>
                <option value="<%= expertise.expert_in %>"><%= expertise.expert_in %></option>
            <% }) %>
        </select>
        <button type="submit">Destroy Expertise</button>
    </form>
    <a href="/expertise">back</a>
</body>
</html>