<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/common.css">
    <title>Players expert in</title>
</head>
<body>
    <%- include('header') %>
    <%- include('navbar', {expertise: allExpertise}) %>
    <h2><%= expertise %></h2>
    <div>
        <ul>
            <% locals.players.forEach((player) => { %>
                <form action="/relation/<%= locals.expert_in_id %>/remove/<%= player.player_id %>" method="POST">
                    <li value="<%= player.player_id %>"><%= player.name %> <button type="submit">Remove</button></li>
                </form>
            <% }) %>
        </ul>
    </div>
    <form action="/relation/<%= locals.expert_in_id %>/add" method="POST">
        <select name="player_id" id="player_id">
            <% locals.playersToAdd.forEach(player => { %>
                <option value="<%= player.player_id %>"><%= player.name %></option>
            <% }) %>
        </select>
        <button type="submit">Add player</button>
    </form>
</body>
</html>