<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players expert in</title>
</head>
<body>
    <%- include('header') %>
    <%- include('navbar', {expertise: allExpertise}) %>
    <h2><%= expertise %></h2>
    <div>
        <% locals.players.forEach((player) => { %>
            <li value="<%= player.name %>"><%= player.name %></li>
        <% }) %>
    </div>
</body>
</html>